/* Estilos para dispositivos más grandes */
@media only screen and (min-width: 768px) {
    body {
      width: auto;
      margin: auto;
    }
  }
  
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 767px) {
    body {
      width: auto;
      margin: auto;
    }
  }
  